@model Gimnasio.Web.Models.Machine

    <div>
        <div class="row justify-content-center">
            <div class="card" style="width:25rem; margin:1rem;">
                <img src="~/Images/Machines/@Model.Image" class="card-img" alt="Alternate Text" />
                <div class="card-header text-center bg-danger text-white">¿Seguro que deseas eliminar?</div>
                <div class="card-body">
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.Type)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Type)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Brand)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Brand)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Purchase)
                        </dt>

                        <dd>
                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.Purchase))
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="text-center" style="margin:0.5rem;">
                            <button class="btn btn-sm btn-danger">
                                <span class="text-white-50"><i class="bx bx-trash"></i></span>
                                <span class="text-white"> Eliminar</span>
                            </button>
                            <a href="@Url.Action("AllMachines","Machines")" class="btn btn-sm btn-dark">
                                <span class="text-white-50"><i class='bx bx-left-arrow-alt'></i></span>
                                <span class="text-white"> Regresar</span>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
