@model Gimnasio.Web.Models.ChangePasswordViewModel

    <div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card shadow" style="width:25rem; margin:1rem;">
                    <div class="card-header bg-dark text-white text-center">Cambia tu contraseña</div>
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="card-body">

                    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "font-weight-bold" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "font-weight-bold" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "font-weight-bold" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-sm btn-primary">
                            <span class="text-white-50"><i class='bx bx-save'></i></span>
                            <span class="text-white"> Guardar</span>
                        </button>
                        <a href="@Url.Action("Index","Home")" class="btn btn-sm btn-dark">
                            <span class="text-white-50"><i class="bx bx-left-arrow-alt"></i></span>
                            <span class="text-white"> Regresar</span>
                        </a>
                    </div>
                </div>
                            }
                        </div>
                    </div>
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}