@model Gimnasio.Web.Models.ViewModels.ClientViewModel

<div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow" style="width:25rem; margin:1rem;">
                <div class="card-header bg-dark text-white text-center">Añade un cliente</div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="card-body">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "font-weight-bold" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "font-weight-bold" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "font-weight-bold" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="font-weight-bold">Tipo</label>
                                <div class="col-md-10">
                                    <select class="form-control" name="Type">
                                        <option>Elige un tipo:</option>
                                        <option value="Bronce">Bronce</option>
                                        <option value="Plata">Plata</option>
                                        <option value="Oro">Oro</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "font-weight-bold" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "font-weight-bold" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Admission, htmlAttributes: new { @class = "font-weight-bold" })
                                <div class="col-md-10">
                                    <input type="date" name="Admission" value="" class="form-control" />
                                    @Html.ValidationMessageFor(model => model.Admission, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="font-weight-bold">Entrenador</label>
                                <div class="col-md-10">
                                    <select name="CoachId" class="form-control">
                                        <option selected disabled>Elige un entrenador</option>
                                        @foreach (var item in ViewBag.Coaches)
                                        {
                                            <option value="@item.Id">@item.FirstName @item.LastName</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="font-weight-bold">Nutriólogo</label>
                                <div class="col-md-10">
                                    <select name="NutritionistId" class="form-control">
                                        <option selected disabled>Elige un nutriólogo</option>
                                        @foreach (var item in ViewBag.Nutritionists)
                                        {
                                            <option value="@item.Id">@item.FirstName @item.LastName</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group text-center">
                                <button class="btn btn-sm btn-primary">
                                    <span class="text-white-50"><i class='bx bx-save'></i></span>
                                    <span class="text-white"> Guardar</span>
                                </button>
                                <a href="@Url.Action("AllClients","Clients")" class="btn btn-sm btn-dark">
                                    <span class="text-white-50"><i class="bx bx-left-arrow-alt"></i></span>
                                    <span class="text-white"> Regresar</span>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}