@model Gimnasio.Web.Models.Client

    <div>
        <div class="row justify-content-center">
            <div class="card" style="width:25rem; margin:1rem;">
                <div class="card-header text-center bg-danger text-white">¿Seguro que deseas eliminar?</div>
                <div class="card-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LastName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Age)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Age)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Type)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Type)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Admission)
                        </dt>

                        <dd>
                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.Admission))
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="text-center" style="margin:0.5rem;">
                            <button class="btn btn-sm btn-danger">
                                <span class="text-white-50"><i class="bx bx-trash"></i></span>
                                <span class="text-white"> Eliminar</span>
                            </button>
                            <a href="@Url.Action("AllClients","Clients")" class="btn btn-sm btn-dark">
                                <span class="text-white-50"><i class='bx bx-left-arrow-alt'></i></span>
                                <span class="text-white"> Regresar</span>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
