@model Gimnasio.Web.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div style="margin-top:50px;padding:50px;">
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Coach.Specialty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coach.Specialty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nutritionist.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nutritionist.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admission)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
